{% extends 'base.html' %}
{% load static %}

{% block body %}

<div class="m-md-5">

        <form action="show-product-details">
            {% csrf_token %}

            <input type="submit" value="Show Product Details">
        </form>

        <br>
        <br>

        <h3> User Details </h3>
        <table class="table">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            {% for user in allUserDetails %}
            <tr>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <form action="show-user/{{ user.id }}" method="POST">

                        {% csrf_token %}
                        <input type="hidden" value="{{ user.id }}">
                        <input type="submit" value="Show User Details">
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <br>
        <br>

        <h3> All User Order History </h3>
        <table class="table">
            <thead>
            <tr>
                <th>Product Name</th>
                <th>Product Price</th>
                <th>Product Quantity</th>
                <th>Product Status</th>
                <th>Order By</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orderDetail %}
            <tr>
                <td>{{ order.product_name }}</td>
                <td>{{ order.product_price }}</td>
                <td>{{ order.product_quantity }}</td>
                <td>{{ order.product_status }}</td>
                <td>{{ order.order_by }}</td>
                <td>
                    <form method="POST" action="update-status">

                        {% csrf_token %}
                        <input type="submit" value="Change Status">
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        </div>

        {% endblock %}