{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block body %}

<div class="container m-md-6">

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Product Name</th>
                <th scope="col">Product Description</th>
                <th scope="col">Product Price</th>
                <th scope="col">Stock</th>
            </tr>
            </thead>
            <tbody>

            {% for dest in dests %}
            <tr>
                <td>{{ dest.product_name }}<br></td>
                <td>{{ dest.product_description }}</td>
                <td>{{ dest.product_price }}</td>
                <td>{{ dest.product_quantity }}</td>
                <td>
                    <a href="{% url 'place-order' dest.id %}">Place Order</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <br>

        <a type="button" class="btn btn-primary" href="{% url 'user-dashboard' %}">Back</a>

           </div>

{% endblock %}